<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo"><img src="../assets/jikan.logo.png" ></div>
</header>
<div class="pres">
    <div id="container">
        <div class="photo" style="background-image:url(../assets/1.jpg)">
            <div class="titre clair txt_size">
            <h1>Jikan API</h1>
            <h3>Unofficial MyAnimeList API</h3>
            </div>
            <p class= "txt_size clair">
                Jikan est une API qui scrap le site MyAnimeList
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/slide2.png)">
            <div class="titre">
                <h1>MyAnimeList</h1>
            </div>
            <p class="txt_size">
                Site qui contient tout les infos sur les anime il permet aussi de crée
                des liste d'anime vue avec un système de notation pour chaque anime ajouté a sa liste.
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/sao.jpg)">
            <div class="titre clair txt_size">
                <h1>Comment fonctionne L'API</h1>
            </div>
            <p class="clair txt_size">
                L'API fonctionne avec du scrapping des infos du site MyAnimeList
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/4.jpg)">
            <div class="titre txt_size">
                <h1>Pourquoi Jikan et pas MyAnimeList ?</h1>
            </div>
            <p class=" txt_size">
                L'API de Jikan est plus simple elle  ne demande pas d'autentification , elle est aussi plus complète elle possède une partie REST qui ajoute beaucoup de paramètre en plus
            </p>
        </div>


    </div>
    <img src="../assets/Bouton.png" class="bouton"  id ="d" alt="bouton">
    <img src="../assets/Bouton.png" class="bouton"  id ="g" alt="bouton">
</div>
<div class="param">
    <div class="simple"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu ornare augue, sit amet auctor tortor. Proin aliquet facilisis erat, vel accumsan massa blandit eget. Aliquam erat volutpat. Ut malesuada urna at lectus dignissim, id bibendum est mollis. Morbi ultricies id justo sit amet sollicitudin. Pellentesque in laoreet lacus. Curabitur sit amet finibus ex.

        Phasellus vel quam ac velit imperdiet pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque maximus vel dui eu laoreet. Fusce ullamcorper dapibus arcu, et pretium erat placerat a. Fusce sodales cursus turpis et aliquet. Pellentesque lacinia, ante ut varius dapibus, est ligula scelerisque massa, vitae eleifend ipsum neque ac sapien. Duis aliquam at ex eu varius. Proin diam dolor, iaculis iaculis nisl nec, blandit sodales tellus. Aliquam nec dignissim mauris. Aenean pharetra nisi at orci feugiat ornare. Vestibulum aliquet neque non nibh lacinia, eget gravida ex suscipit. Sed eleifend velit feugiat eros tincidunt maximus vitae non lacus.

        Mauris nec odio congue, mattis lacus et, mattis nisi. Nam iaculis, eros iaculis egestas varius, velit sapien laoreet felis, ac sollicitudin elit quam sollicitudin neque. Maecenas porta porttitor maximus. Donec ut dictum lorem, vitae facilisis metus. Duis vestibulum, turpis a scelerisque rutrum, purus enim hendrerit neque, in pulvinar felis eros sed odio. Morbi eleifend, nisi vitae imperdiet eleifend, libero magna placerat sapien, in venenatis felis massa non neque. In lacinia tristique congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla ultricies tortor vitae libero posuere commodo. Nulla gravida viverra lacus, id feugiat ante dignissim sit amet. Sed faucibus viverra placerat. Aenean egestas sodales fringilla. Mauris elit massa, scelerisque rhoncus tellus eget, posuere fringilla nibh. </div>
</div>



<footer>
  <div class="footer-basic">


    <hr style="height:2px;border-width:0;color:gray;background-color:white">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="index.html">Accueil</a></li>
    </ul>
    <p class="copyright">Company Name</p>
  </div>
</footer>
<script src="../script/slider.js"></script>
</body>
</html>

