<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo"><img src="../assets/jikan.logo.png" ></div>
    <div class="menu">
        <a class="ctn_m pl" href="index.html">Accueil</a>
        <ul class="navbar">
            <li class="menu-cat">
                <a href="#" class="ctn_m">Requête</a>
                <ul class="navbar2">
                    <li class="sous-menu">
                        <a  href="#" >Simple </a>
                    </li>
                    <li class="sous-menu">
                        <a href="#">Complète</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>
<div class="pres">
    <div id="container">
        <div class="photo" style="background-image:url(../assets/1.jpg)">
            <div class="titre clair txt_size">
            <h1>Jikan API</h1>
            <h3>Unofficial MyAnimeList API</h3>
            </div>
            <p class= "txt clair">
                Jikan est une API qui scrap le site MyAnimeList
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/slide2.png)">
            <div class="titre">
                <h1>MyAnimeList</h1>
            </div>
            <p class="txt">
                Site qui contient tout les infos sur les anime il permet aussi de crée
                des liste d'anime vue avec un système de notation pour chaque anime ajouté a sa liste.
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/sao.jpg)">
            <div class="titre clair txt_size">
                <h1>Comment fonctionne L'API</h1>
            </div>
            <p class="clair txt">
                L'API fonctionne avec du scrapping des infos du site MyAnimeList
            </p>
        </div>
        <div class="photo" style="background-image:url(../assets/4.jpg)">
            <div class="titre txt_size">
                <h1>Pourquoi Jikan et pas MyAnimeList ?</h1>
            </div>
            <p class=" txt">
                L'API de Jikan est plus simple elle  ne demande pas d'autentification , elle est aussi plus complète elle possède une partie REST qui ajoute beaucoup de paramètre en plus
            </p>
        </div>


    </div>
    <img src="../assets/Bouton.png" class="bouton"  id ="d" alt="bouton">
    <img src="../assets/Bouton.png" class="bouton"  id ="g" alt="bouton">
</div>
<div class="param">
    <div class="use">
        <h1 class="expl_t">Comment L'utiliser ?</h1><br>
        <p class="expl"> Pour l'utiliser il y'a 2 facon la première et une général ou l'on rentre juste le nom de l'anime et cela nous retourne toute les info trouvrer en qui comporte ce nom
             pour la 2ème on rentre un paramètre plus spécifique et cela nous retourne quelque des info plus concis et précise  </p><br>
    </div>
    <h1 class="expl_t"> La manière simple :</h1>
    <div class="simple">
        <div class="box-param">
            https://api.jikan.moe/v4/anime?q=Nom de l'anime&sfw
        </div>
        <a  class="box-redir" href="#"> Requête simple <img src="../assets/redirect.png" height="40px" width="40px"></a>
    </div>
    <h1 class="expl_t"> La manière plus complète :</h1>
    <p class="expl"> L'id et l'identifiant de l'anime que l'on veut avec ce paramètre on aura un seul reponse et pas plusieur qui comporte le même nom </p>

    <div class="simple">
        <div class="box-param">
            https://api.jikan.moe/v4/anime/{id}+ /paramètre spécifique
        </div>
        <a  class="box-redir" href="#"> Requête plus complète <img src="../assets/redirect.png" height="40px" width="40px"></a>
    </div>

</div>



<footer>
  <div class="footer-basic">


    <hr style="height:2px;border-width:0;color:gray;background-color:white">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Accueil</a></li>
    </ul>
    <p class="copyright">Jikan</p>
  </div>
</footer>
<script src="../script/slider.js"></script>
</body>
</html>

